---
import { contentfulClient } from "../../lib/contentful";
import type { Unit } from "../../type/content-blocks";

import MainLayout from "../../layouts/authenticated.astro"
import UnitCard from "../../components/cards/unit"

const units = await contentfulClient.getEntries<Unit>({
  content_type: "unit",
});
---

<MainLayout title={`Berklee Open: Units`}>
  <div class="flex gap-20">
    <div class="w-full">
      <h1 class="text-4xl font-bold mb-8">Units</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 gap-8">
        {units.items.map((unit) => (
          <UnitCard 
            key={unit.sys.id}
            id={unit.sys.id}
            title={unit.fields.unit_title}
            image={unit.fields.unit_image?.fields?.file?.url?.startsWith('//') 
              ? `https:${unit.fields.unit_image.fields.file.url}` 
              : unit.fields.unit_image?.fields?.file?.url ?? 'https://placehold.co/425x265'}
            shortDescription={unit.fields.unit_short_description}
            level={unit.fields.unit_level || []}
            lessonsCount={unit.fields.unit_lessons?.length || 0}
            client:load
          />
        ))}
      </div>
    </div>
  </div>
</MainLayout>
