---
import Stack from "../../lib/cms";
import MainLayout from "../../layouts/main.astro"
import Activity from "../../components/sidebar/activity";

export async function getStaticPaths() {
  const entries = await Stack.getEntry({
    contentTypeUid: 'lesson',
    referenceFieldPath: [
      'activities'
    ]
  });

  const lessons = [];

  entries[0].map((lesson) => {
    lessons.push({
      params: {lesson: lesson.url.replace('/', '')},
      props: lesson
    });
  });

  return lessons;
}

const {title, activities} = Astro.props;
---

<MainLayout title={title}>
	<div class="flex gap-20">
    <div class="w-1/4">
      {activities.map((activity) => {
        return <Activity activity={activity} />
      })}
    </div>
    <div class="w-3/4">
      {activities.map((activity) => {
        return (
          <div>
            <h2 class="font-bold text-4xl">{activity.title}</h2>
            {activity.section.map((section, index) => (
              <div key={index}>{section.section_title}</div>
              <div key={index} set:html={section.section_content}></div>
            ))}
          </div>
        )
      })}
    </div>
  </div>
</MainLayout>