---
import { contentfulClient } from "../../lib/contentful";
import type { Lesson } from "../../type/content-blocks";

import MainLayout from "../../layouts/authenticated.astro";
import LessonCard from "../../components/cards/lesson";

const lessons = await contentfulClient.getEntries<Lesson>({
  content_type: "lesson",
});
---

<MainLayout title={`Berklee Open: Lessons`}>
  <div class="flex gap-20">
    <div class="w-full">
      <h1 class="text-4xl font-bold mb-8">Lessons</h1>
      <div class="grid grid-cols-3 gap-8">
        {lessons.items.map((lesson, index) => (
          <LessonCard 
            key={lesson.sys.id}
            id={lesson.sys.id}
            title={lesson.fields.lesson_title}
            shortDescription={lesson.fields.lesson_short_description}
            audience={lesson.fields.lesson_audience}
            imageUrl={lesson.fields.lesson_image?.fields?.file?.url?.startsWith('//') 
              ? `https:${lesson.fields.lesson_image.fields.file.url}` 
              : lesson.fields.lesson_image?.fields?.file?.url ?? 'https://placehold.co/425x265'}
            index={index}
            client:load
          />
        ))}
      </div>
    </div>
  </div>
</MainLayout>